body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* 창 끝부분과의 간격을 추가 */
}

.container {
    position: fixed;
    top: 20px;
    width: 100%;
<<<<<<< HEAD
    max-width: 1100px;
=======
    max-width: 800px;
>>>>>>> 4a14b396d5f67be2f3fd4630b0673152342f544b
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    z-index: 10;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px; /* 제목과 검색창 간격 */
}

.search-bar {
    display: flex;
    gap: 10px; /* 검색창, 버튼, 드롭다운 간격 */
    align-items: center; /* 수직 정렬 */
}

#search-bar {
    padding: 10px;
    width: 300px;
    font-size: 1rem;
}

button {
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.dropdown {
    position: relative; /* 드롭다운 메뉴를 검색 바 오른쪽에 위치 */
}

.dropbtn {
    padding: 10px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content button {
    padding: 10px;
    width: 100%;
    text-align: left;
    background-color: white;
    border: none;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #f4f4f4;
}

#results {
    margin-top: 20px; /* 검색창과 20px 간격 */
    width: 100%; /* 화면 너비에 맞게 자동 크기 조정 */
    max-width: 95%; /* 창의 끝과 더 떨어지도록 최대 너비를 95%로 설정 */
    height: 550px; /* 박스 높이 증가 */
    overflow-y: scroll;
    padding: 30px; /* 내부 여백 증가 */
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
    font-size: 1.2rem;
    box-sizing: border-box;
    margin-left: 5%; /* 좌우 여백을 줄여서 너비를 늘림 */
    margin-right: 5%; /* 같은 방식으로 우측 여백 추가 */
}



#results span {
    color: #777; /* 회색 텍스트 */
    font-size: 0.9rem; /* 작은 글씨 */
}
